@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}
body{
  background-color: hsl(212, 45%, 89%); 
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  
}

.box{
    width: 314px;
    background: white;
    border-radius: 10%;
    display: flex;
   flex-direction: column; 
   padding: 15px;
    
    
   
}

.box img{
    max-width: 100%;
    border-radius: 10%;
    
    

}
.box h2{
    padding: 5px 10px ;
    margin: 5px;
    font-weight: 700;
    text-align: center;
}
.box p {
    font-size: 15px;
    padding: 10px 30px 30px 30px;
    font-weight: 400;
    color: hsl(218, 44%, 22%);
   text-align: center;
    
}